@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

.services-container {
    text-align: left;
    font-family: "Space Grotesk", sans-serif;
    padding: 32px; /* Container içi boşluk */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}
.text-position {
    position: relative;
    text-align: left;
    font-weight: bolder;
    font-size: 39px;
    font-family: "Space Grotesk", sans-serif;
}
.yazi-tip {
    font-family: "Space Grotesk", sans-serif;
}

.div-position {
    flex: auto;
    padding: 10px;
}
.pic-sizes {
    width: 110px;
    height: auto;
}
.pic-sizes-sec {
    width: 48px;
    height: auto;
}

.full-width-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
@media (max-width: 768px) {
    .services-container {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        padding: 16px;
        gap: 16px;
        padding-bottom: 4rem;
    }
    .full-width-image {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
    .div-position {
        flex: auto;
        flex-direction: column;
        grid-template-columns: 1fr;
        padding: 16px;
        gap: 16px;
        padding-left: 1.5rem !important;
    }

    .text-position {
        position: flex;
        text-align: left;
        font-size: 2rem;
        padding-left: 1.5rem !important;
    }
}
