/node_modules
/public/hot
/public/storage
/storage/*.key
/public/images/icons/.DS_Store
/public/js/app.js
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
/node_modules
/storage/*.key
/vendor
/.idea
Homestead.jsonW
Homestead.yaml
.env
_ide_helper.php

/public/storage
/public/hot
/public/js/
/public/css/
/public/fonts/
/public/mix-manifest.json
/*.log
/public/*.js
/public/*.js.map